.document-data {

  .documentation-form {
    flex-grow: 1;
  }

  .document-upload-container {
    text-align: center;
    width: 100px;
    margin: 15px;

    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .document-uploader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: center;

    .ant-upload-list {
      display: flex;
    }

    .label {
      text-align: center;
    }
  }

  .document-uploader > .ant-upload {
    border: 1px dashed grey;
    border-radius: 3px;
    width: 100px;
    height: 100px;
    background-color: fade(#E7EEF1, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .damage-wrapper {
    // display: flex;
    margin-bottom: 25px;

    .damage-pictures-description {
      margin: 13px 0 0 200px;
      width: 51%;

      .selectors {
        display: flex;
      }
    }

    .selector-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 65px;

      .ant-select {
        width: 225px;
      }
    }
  }
}