.components-form {
  .components-header {
    display: flex;
  }
  
  .components-header :nth-child(1) {
    width: 23%;
  }

  .component-row {
    display: flex;
    justify-content: left;
    align-items: center;

    .ant-form-item-label {
      width: 200px;
      text-align: left;
    }
    .ant-input {
      width: 100%;
    }

    .ant-select {
      width: 22%;
    }
  }

  .single-field{
    margin: 0 0 0 50px;
    width: 50%;
    
    .ant-form-item-control-wrapper {
      width: 100%;
    }
  }

  .lack-depth {
    display: flex;

    .title {
      width: 235px;
      margin-left:235px;
    }

    .ant-form-item-control-wrapper {
      margin-left: 22px;
    }

    .input-wrapper {
      display: flex;
      margin-left: 200px;
    }
    .ant-form-item-children {
      line-height: 21px;
    }
  }
}


