.vehicle-data {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  
  h4 {
    flex-grow: 1;
    border: 1px dotted blue;
  }

  .radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: space-between;
    margin: 4px 0;
    align-items: center;
  
    .radio-group {
      width: 45%;
      display: inline-flex;
    }
  }
  
  .selector-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: space-between;
    margin: 4px 0;
    align-items: center;
  
    .ant-select {
      min-width: 47%;
    }
  }
  
  .agreement {
    text-align: left;
    padding: 20px 10px;
  }
  
  .button-right {
    margin-left: 85%;
  }
  
}
