.vehicle-data {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  
  h4 {
    flex-grow: 1;
    border: 1px dotted blue;
  }
  
  .agreement {
    text-align: left;
    padding: 20px 10px;
  }
  
  .button-right {
    margin-left: 85%;
  }

}
