.inspection-form {
  
  .labeled-select {
    justify-content: start;

    .ant-select {
      width: 25%;
    }

    label {
      display: inline-block;
      width: 200px;
    }
  }
  textarea.ant-input {
    margin: 10px 0 10px 200px;
    max-width: calc(100% - 200px);
  }

  .single-field {
    justify-content: center;
    width: 100%;

    .ant-form-item-control-wrapper{
      width: 100%;
      margin-left: 200px;
    }
    input {
      width: 100%;
    }
  }
}