.tyre-data {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-grow: 1;
  
  .form-part-left{
    flex-grow: 5;
    max-width: 58%;
    padding: 15px;
    .ant-select {
      min-width: 30%;
      width: 38%;
    }
  }
  .form-part-right {
    flex-grow: 3;
    padding: 15px;
    .ant-select {
      min-width: 40%;
      width: 51%;
    }
  }
  .selector-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: space-between;
    margin: 4px 0;
    align-items: center;
  }
}

